/* Add a black background color to the top navigation */
.topnav {
  background-color: #bedde0;
  overflow: hidden;
  padding: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 21px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5184d6;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #28a394;
  color: white;
}

body {
    padding: 0;
}

@font-face { 
font-family: Aller;
src: url(fonts/Aller.ttf); 
}

@font-face { 
font-family: Bree;
src: url(../fonts/Bree.otf); 
}

a { 
 font-family:Bree; 
}
